# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable ghost-text': 'ghost-text:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'ghost-text'
      'submenu': [
        { 'label': 'Toggle', 'command': 'ghost-text:toggle' }
      ]
    ]
  }
]
